<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="transport">
      <h2 data-cy="transportDetailsHeading"><span>Transport</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ transport.id }}</span>
        </dd>
        <dt><span>Transport No</span></dt>
        <dd>
          <span>{{ transport.transportNo }}</span>
        </dd>
        <dt><span>Regs No</span></dt>
        <dd>
          <span>{{ transport.regsNo }}</span>
        </dd>
        <dt><span>Type</span></dt>
        <dd>
          <span>{{ transport.type }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/transport', transport.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
