<div>
  <h2 id="page-heading" data-cy="OnDutyHeading">
    <span>On Duties</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-on-duty"
        [routerLink]="['/on-duty/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new On Duty </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="onDuties?.length === 0">
    <span>No On Duties found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="onDuties && onDuties.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dutyNo">
            <div class="d-flex">
              <span>Duty No</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="staff.regNo">
            <div class="d-flex">
              <span>Staff</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="transport.transportNo">
            <div class="d-flex">
              <span>Transport</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let onDuty of onDuties; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/on-duty', onDuty.id, 'view']">{{ onDuty.id }}</a>
          </td>
          <td>{{ onDuty.dutyNo }}</td>
          <td>
            <div *ngIf="onDuty.staff">
              <a [routerLink]="['/staff', onDuty.staff.id, 'view']">{{ onDuty.staff.regNo }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="onDuty.transport">
              <a [routerLink]="['/transport', onDuty.transport.id, 'view']">{{ onDuty.transport.transportNo }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/on-duty', onDuty.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/on-duty', onDuty.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(onDuty)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
